@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');

:root {

    --bgcolor-0: #CFDBD5;
    --bgcolor-1: #333533;
    --bgcolor-2: #242423;

    --color-light-default: #E8EDDF;
    --color-light-title: #CFDBD5;
    --color-dark-default: #333533;
    --color-dark-title: #242423;
    --color-link: #f5cb5c;
    --color-link-hover: #D17A23;

    --font-default: 'Quicksand', sans-serif;
    --font-title: 'Roboto', sans-serif;

}

* {

    margin: 0px;
    padding: 0px;

}

body {

    font-family: var(--font-default);

}

nav {

    background-color: var(--bgcolor-2);
    color: var(--color-light-title);
    border-bottom: 1px solid var(--color-light-default);

}

nav > section {

    width: 1200px;
    padding: 20px;
    margin: auto;

}

nav > section > h1 {

    font-size: 36px;
    font-weight: normal;

}

footer {

    background-color: var(--bgcolor-2);
    color: var(--color-light-default);

}

#professional-profile {

    background-color: var(--bgcolor-1);
    color: var(--color-light-default);

}

#professional-profile > section, #professional-skills-container, #linux-container, #footer-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 1200px;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: auto;

}

#footer-container {

    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;

}

#linux-container {

    flex-direction: row-reverse;

}

#professional-skills-container {

    align-items: initial;

}

#ubirajara-neves {

    order: 1;
    flex-basis: 35%;
    width: 370px;

}

#professional-profile-content {

    order: 2;
    flex-basis: 65%;

}

#professional-profile-content > h1 {

    color: var(--color-light-title);
    font-size: 30px;
    font-weight: normal;
    line-height: 39px;
    margin-bottom: 20px;

}

#professional-skills {

    background-color: var(--bgcolor-0);
    color: var(--color-dark-default);

}

#professional-skills-areas {

    order: 1;
    flex-basis: 50%;

}

#professional-skills-others {
    order: 2;
    flex-basis: 50%;
}

#professional-skills-areas > h1, #professional-skills-others > h1, #linux-container > h1, #linux-content > h1 {

    color: var(--color-dark-title);
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 24px;
    font-weight: normal;

}

#linux {

    background-color: var(--bgcolor-1);
    color: var(--color-light-default);

}

#linux-container > h1 {

    color: var(--color-light-title);

}

#linux-logo {

    order: 1;
    flex-basis: 35%;
    width: 370px;

}

#linux-content {

    order: 2;
    flex-basis: 65%;

}

#linux-content > h1 {

    color: var(--color-light-title);

}

#footer-container > p {

    margin-bottom: 10px;

}

#social-media {

    display: flex;
    align-items: center;

}

#social-media > a > img {

    margin-left: 5px;
    margin-right: 5px;

}



h1, h2, h3 {
    font-family: var(--font-title);
}

p, li {

    font-family: var(--font-default);
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 24px;

}

a {
    text-decoration: none;
    color: var(--color-link);
    transition: all 0.2s linear;
}

a:hover {
    text-decoration: underline;
    color: var(--color-link-hover);
}

ul {

    margin-left: 20px;

}

li {

    margin-bottom: 12px;

}